header {
    background-color: #07cbff;
    color: #000;
    font-size: 30px;
}

section {
    padding: 30px;
}

section main .content {
    background-color: crimson;
}

section main .content .convertion {
    display: flex;
}

section main .content .convertion select {
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
}

section main .convertion textarea {
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

section main .convertion select {
    outline: none;
}

section main .convertion span {
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    margin-right: 5px;
}

section main .convertion .before, select {
    margin-right: 10px;
}
section main .convertion select, span {
    margin-top: 30px;
}

section main .convertion button {
    padding: 15px;
    margin-top: 16px;
    margin-left: 3px;
    background-color: darkviolet;
    outline: none;
    border: none;
    color: #FFF;
    border-radius: 5px;
    box-shadow: #666 1px 1px 2px;
    font-weight: bold;
    cursor: pointer;
    transition: filter .2s;
}

section main .convertion button:active {
    filter: saturate(1.3);
}

section main #after {
    background-color: #3b3be0;
    margin-top: 10px;
    padding-top: 0;
}

section main #after h2 {
    padding-top: 15px;
    color: #fff;
}

section main #after #values-c {
    color: #fff;
    text-shadow: #000 1px 0px 1px;
    font-size: 20px;
    padding: 10px;
    display: block;
}

section main #after #values-c .the-convertion {
    width: 250px;
    margin: auto;
    border: solid 2px #FFF;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

footer {
    background-color: #26842c;
    color: white;
}